.registration-form .noscript-note {
    display: block;
    padding: 0.5em 1em;
    background: var(--bg2);
    font-size: 0.9em;
    margin: 1em;
    border-radius: var(--radius);
}
.registration-form .registration-congress-name {
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: small;
}
.registration-form .registration-editing-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid var(--accent);
}
.registration-form .form-item {
    padding: 0.5em 1em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-align: left;
}
.registration-form .form-input-item input[type=text],
.registration-form .form-input-item input[type=email],
.registration-form .form-input-item input[type=tel],
.registration-form .form-input-item input[type=uri],
.registration-form .form-input-item input[type=number],
.registration-form .form-input-item select {
    min-width: 10em;
    max-width: 100%;
}
.registration-form .form-input-item[data-type=number],
.registration-form .form-input-item[data-type=text],
.registration-form .form-input-item[data-type=money],
.registration-form .form-input-item[data-type=enum],
.registration-form .form-input-item[data-type=date],
.registration-form .form-input-item[data-type=time],
.registration-form .form-input-item[data-type=datetime] {
}
.registration-form .form-input-item[data-type=text] textarea {
    width: 100%;
    resize: vertical;
    min-height: 6em;
}
.registration-form .form-input-item .boolean-table th, td {
    text-align: center;
}
.registration-form .form-input-item .boolean-table tbody tr th {
    /* headerLeft */
    text-align: right;
}
.registration-form .form-input-item .js-date-editor input,
.registration-form .form-input-item .js-date-editor select,
.registration-form .form-input-item .js-time-editor select {
    min-width: auto;
}
.registration-form .form-input-item .js-date-time-editor .inner-input,
.registration-form .form-input-item .js-time-editor .inner-input,
.registration-form .form-input-item .js-date-editor .inner-input {
    display: none;
}
.registration-form .form-input-item .js-date-time-editor .js-time-editor,
.registration-form .form-input-item .js-date-time-editor .js-date-editor {
    display: inline-block;
}
.registration-form .form-input-item .js-date-time-editor .js-date-editor {
    margin-right: 1em;
}
.registration-form .form-input-item .money-input .currency-label {
    margin-left: 0.2em;
}
.registration-form .form-script-item {
    display: none;
}
.registration-form .form-footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.registration-form .registration-message {
    background: var(--light-accent);
    color: var(--light-accent-fg);
    border-radius: var(--radius);
    margin-bottom: 1em;
    padding: 0.5em 1em;
}
.registration-form .registration-error {
    background: var(--error-bg);
    color: var(--error-fg);
    border-radius: var(--radius);
    margin-bottom: 1em;
    padding: 0.5em 1em;
}
.registration-form .field-error {
    background: var(--error-bg);
    color: var(--error-fg);
    border-radius: var(--radius);
    font-size: 0.9em;
    margin-top: 0.3em;
    padding: 0.3em 1em;
}
.registration-form .registration-confirmation {
    text-align: center;
    margin-bottom: 4em;
}
.registration-form .registration-confirmation .confirmation-link-container {
    margin-bottom: 1em;
}

.registration-form .registration-payment {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: var(--radius);
    background: var(--bg2);
}
.registration-form .registration-payment h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.registration-form .registration-payment h3 .outstanding-amount {
    font-weight: normal;
}
.registration-form .registration-payment .payment-button-container {
    text-align: right;
}
.registration-form .registration-payment .payment-button-container .link-button {
    margin-right: 0;
}
.registration-form.is-payment .payment-intent-redirect {
    padding: 1em;
    text-align: center;
}
.registration-form.is-payment #payment-intent-redirect-button {
    margin-top: 1em;
}

.registration-form.is-payment .payment-methods {
    padding: 0;
    list-style-type: none;
}
.registration-form.is-payment .payment-methods .payment-method {
    background: var(--bg2);
    border-radius: var(--radius);
    padding: 1em;
    margin: 1em 0;
    text-align: left;
}
.registration-form.is-payment .payment-methods .payment-method .method-name {
    margin-top: 0;
}
.registration-form.is-payment .payment-methods .payment-method .method-recommended {
    margin-left: 0.1em;
    font-size: 0.7em;
    opacity: 0.7;
}
.registration-form.is-payment .payment-methods .payment-method .hidden-input {
    display: none;
}
.registration-form.is-payment .payment-methods .payment-method .method-form {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .registration-form.is-payment .payment-methods .payment-method .method-form {
        display: block;
    }
}
