{% extends "partials/base.html.twig" %}

{% block content %}
{% if akso_congress_error %}
    <div class="error-banner">
        {{ akso_congress_error|e }}
    </div>
{% endif %}

<div class="congress-location-container">
    {{ akso_congress.contents }}
</div>

{% if not akso_congress.did_render_location %}
{{ page.content }}
{% endif %}
{% endblock %}
